<!DOCTYPE html>
{% load i18n %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}{% trans "Project Name" %}{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />

    {# TODO: <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico" /> #}
    {# TODO: <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png" /> #}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css?v=1" />
    <link rel="stylesheet" media="handheld" href="{{ MEDIA_URL }}css/handheld.css?v=1" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960_24_col.css?v=1" />
    {# TODO: <link rel="stylesheet" href="{{ MEDIA_URL }}css/projectname.css?v=1" /> #}
    {% block css %}{% endblock %}

    <script src="{{ MEDIA_URL }}js/modernizr-1.6.min.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
    <div id="container" class="container_24">
        <header>

        </header>
    
        <div id="main">
            {% block content %}{% endblock %}
        </div>
    
        <footer>

        </footer>
    </div> <!-- end of #container -->

    <!--[if lt IE 7 ]>
      <script src="{{ MEDIA_URL }}js/dd_belatedpng.js?v=1"></script>
    <![endif]-->

    {% if debug %}{% include 'includes/debug.html' %}{% endif %}
    {% block javascript_library %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ MEDIA_URL }}js/libs/jquery-1.5.js"%3E%3C/script%3E'))</script>
    {% endblock %}
    {% block javascript %}{% endblock %}

{% endblock %}

</body>
</html>