<!doctype html>
{% load i18n %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %}{% trans "Project Name" %}{% endblock %}</title>
    
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    
    {# TODO: <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" /> #}
    {# TODO: <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" /> #}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2" />
    {% block css %}{% endblock %}
    
    <script src="{{ STATIC_URL }}js/modernizr-2.0.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
{% block body %}
    <div id="container">
        <header>
            
        </header>
        
        <div id="main" role="main">
            {% block content %}{% endblock %}
        </div>
        
        <footer>
            
        </footer>
    </div> <!-- end of #container -->
    
    
    {% if debug %}{% include 'includes/debug.html' %}{% endif %}
    {% block javascript_library %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/jquery.1.6.1.min.js"%3E%3C/script%3E'))</script>
    {% endblock %}
    {% block javascript %}{% endblock %}
    <!--[if lt IE 7 ]>
    <script src="{{ STATIC_URL }}js/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->
{% endblock %}
</body>
</html>